body{
	background-color: DarkTurquoise;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
	
h1{
	color: black;
	font-size: 30px;
	font-family: arial;
	text-align: center;
	grid-column-start: 2;
	grid-row-start: 1;
}

.text1{
	border-width: 10px;
	font-size: 20px;
	text-align: center;
	grid-column-start: 1;
	grid-row-start: 2;
}

		
	
		
	
	